@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Merriweather:wght@300&family=Outfit:wght@300&family=Poppins:wght@100&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

body {
	height: 100vh;
	background-color: hsl(208, 45%, 93%);
}

h1 {
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
}

p {
	color: hsl(210, 4%, 55%);
	text-align: center;
	font-size: 14px;
}

hr {
	width: 65px;
	height: 0.5px;
	background-color: hsl(212, 9%, 70%);
}

a {
	color: hsl(214, 3%, 44%);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 40px;
	width: 130px;
	background-color: hsl(206, 89%, 62%);
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
}

a:hover::before {
	display: none;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 280px);
	grid-template-rows: repeat(2, 390px);
	gap: 30px;
	margin: 50px;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 390px;
	width: 280px;
	padding: 40px 20px 30px 20px;
	border-radius: 10px;
	background-color: white;
}

.card:hover {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
